* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Keania One", cursive "Kenia" cursive, "Ranga", cursive;
}

ul li {
  list-style: none;
}

a {
  text-decoration: none;
  outline: none;
}

body {
  background-color: #e6d7d7;
}

.btn {
  background-color: #f3f3f3;
  border-radius: 10%;
  width: 120px;
  text-align: center;
  font-size: 1.2rem;
  border: #d3d9ea 2px solid;
  width: 120px;
}

.accesorios__boton {
  background-color: #297ac0;
  text-align: right;
  font-size: 20px;
  box-shadow: 7px 7px 7px rgba(0, 0, 0, 0.2);
  color: #d1cbed;
}

.productos__boton {
  background-color: bisque;
  text-align: right;
  font-size: 20px;
  box-shadow: 7px 7px 7px rgba(0, 0, 0, 0.2);
  color: black;
}

header {
  background-color: #297ac0;
  width: 100vw;
}

.navegacion {
  background-color: #f3f3f3;
  border-radius: 30%;
  border: #d3d9ea 2px solid;
}
.navegacion__inicio {
  display: flex;
  justify-content: end;
  color: #f3f3f3;
  gap: 8px;
}

.nav-item a {
  font-size: 1.2rem;
  background: linear-gradient(to right, orange 50%, #ffffff 50%);
  background-size: 200% 100%;
  background-position: 100% 0;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.nav-item a:hover {
  background-position: 0 0;
  transition: 1s;
}

.navegacion__inicio ul {
  gap: 10px;
}

@media (min-width: 768px) {
  .navegacion__inicio {
    display: flex;
    gap: 8px;
  }
}
@media (min-width: 998px) {
  .navegacion__inicio ul {
    gap: 30px;
  }
}
.tarjetas {
  width: 350px;
  height: 400px;
}

.accesorios__tarjeta {
  width: 350px;
  height: 400px;
  border: solid 2px grey;
  text-align: center;
  background-color: aliceblue;
}

.bordes {
  height: 330px;
  border: solid 2px #9e9c9c;
  background-color: #ffffff;
  text-align: center;
}

.bordes:hover {
  transform: translateY(-10px);
  box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
  filter: opacity(0.9);
}

.productos__tarjeta {
  width: 350px;
  height: 400px;
  border: solid 2px grey;
  text-align: center;
  background-color: aliceblue;
}

.footer {
  background-color: #297ac0;
  height: auto;
  width: auto;
  display: flex;
  flex-direction: column;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: black;
}
.footer__redes {
  text-align: center;
  padding: 10px 0px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.footer__span {
  font-size: 20px;
  padding: 10px 0px;
}
.footer__span a {
  text-decoration: none;
  color: black;
}
.footer__logoredes {
  display: flex;
  gap: 20px;
}
.footer__logoredes img {
  width: 40px;
  height: 40px;
}
.footer__logoredes img:hover {
  transform: translateY(-15px);
  transition: 0.5s;
}
.footer__enlaces {
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-align: center;
  padding: 30px;
}
.footer__ayuda {
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-align: center;
  padding: 10px 0px;
}

@media (min-width: 768px) {
  .footer {
    flex-direction: row;
    justify-content: space-evenly;
    align-items: baseline;
  }
}
header {
  width: auto;
  display: flex;
  background-color: #297ac0;
  justify-content: space-between;
}
header h1 {
  color: #f3f3f3;
  font-family: "Ranga";
  font-weight: 700;
}

@media (min-width: 768px) {
  header {
    display: flex;
    padding: 8px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  header h1 {
    font-size: 70px;
  }
  header ul {
    display: flex;
    gap: 50px;
  }
}
.registro {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #f3f3f3;
}
.registro__titulo {
  text-align: center;
}
.registro__nombre {
  display: flex;
  flex-direction: column;
}
.registro__datos {
  display: flex;
  flex-direction: column;
}
.registro__formulario input {
  background-color: slategray;
}

@media (min-width: 998px) {
  .registro {
    text-align: center;
  }
  .registro__formulario {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
  .registro__inicio {
    text-align: start;
  }
  .registro__datos {
    display: flex;
    flex-direction: column;
    text-align: start;
    width: 350px;
  }
  .registro__nombre {
    display: flex;
    flex-direction: column;
    width: 350px;
  }
  .registro__sexo {
    display: flex;
    flex-direction: column;
  }
}
.carousel {
  height: 25vh;
  object-fit: cover;
  width: auto;
  margin: 10px;
}

@media (min-width: 360px) {
  .carousel {
    height: 250px;
  }
}
@media (min-width: 650px) {
  .carousel {
    height: 400px;
  }
}
@media (min-width: 768px) {
  .carousel {
    display: flex;
    width: 90%;
    height: 480px;
    margin: 20px auto;
  }
}
@media (min-width: 998px) {
  .carousel {
    height: 900px;
    width: 90%;
  }
}
.card {
  padding: 10px 5px;
  display: flex;
  flex-direction: column;
  margin: 10px;
}
.card__tarj {
  margin: 5px;
  padding: 5px 0px;
  border: #d3d9ea 1px solid;
  background-color: #297ac0;
  text-align: center;
  width: auto;
}
.card__foto {
  width: 90vw;
  height: 300px;
  object-fit: cover;
}
.card__foto:hover {
  filter: blur(5px);
}
.card__title {
  text-align: center;
}

@media (min-width: 768px) {
  .card {
    flex-direction: row;
    justify-content: space-evenly;
    gap: 10px;
    padding: 20px 40px;
  }
  .card__tarj {
    border: #d3d9ea 3px solid;
    padding: 20px 20px;
    width: 450px;
    height: 450px;
    text-align: center;
  }
}
.razas {
  height: 300px;
  background-image: url(../img/narizperro.jpg);
  animation: movimiento 10s infinite linear;
  background-size: cover;
  position: relative;
}
.razas__texto {
  padding: 120px 20px;
  position: relative;
  color: #ffb703;
  max-width: 600px;
  text-align: center;
}

@keyframes movimiento {
  from {
    background-position: bottom left;
  }
  to {
    background-position: top right;
  }
}
.capa {
  width: 100%;
  height: 100%;
  position: absolute;
  background: -webkit-linear-gradient(left, black, #297ac0);
  opacity: 0.4;
}
.capa__dtlle {
  width: 100%;
  position: relative;
}

@media (min-width: 768px) {
  .razas {
    display: flex;
    height: 350px;
    margin: 5px 40px;
    animation: movimiento 10s infinite linear;
    background-size: cover;
    position: relative;
  }
  @keyframes movimiento {
    from {
      background-position: bottom left;
    }
    to {
      background-position: top right;
    }
  }
  .capa {
    width: 100%;
    height: 100%;
    position: absolute;
    background: -webkit-linear-gradient(left, black, #297ac0);
    opacity: 0.4;
  }
  .capa__dtlle {
    width: 100%;
    position: relative;
  }
}
.destacados {
  font-size: 1.5rem;
  text-align: center;
  color: transparent;
  -moz-text-stroke-width: 2px;
  -webkit-text-stroke-width: 2px;
  -moz-text-stroke-color: #000000;
  -webkit-text-stroke-color: #ffffff;
  background: linear-gradient(to right, #d3d9ea, #297ac0);
  margin: auto;
}
.destacados__perros {
  display: flex;
  flex-direction: column;
  text-align: center;
  background: linear-gradient(to right, #d3d9ea, #297ac0);
  padding: 10px 10px;
  height: auto;
  font-family: "Ranga";
}
.destacados__imagen:hover {
  filter: opacity(0.5);
}
.destacados__texto {
  color: black;
  font-size: 1rem;
}
.destacados__tarjeta {
  height: auto;
}

.shadow {
  text-shadow: 5px 5px #10293a;
}

@media (min-width: 768px) {
  .destacados {
    font-size: 3rem;
    text-align: center;
    width: auto;
  }
  .destacados__perros {
    text-align: center;
    flex-direction: row;
    padding: 40px 20px;
    gap: 40px;
    width: auto;
    height: 620px;
  }
  .destacados__texto {
    padding: 10px 10px;
    height: 250px;
    text-align: center;
    font-size: 1.2rem;
  }
  .destacados__imagen {
    width: 200px;
    height: 200px;
    box-shadow: 7px 7px 7px rgba(0, 0, 0, 0.2);
  }
  .destacados__tarjeta {
    justify-content: center;
  }
}
.alimentacionunica {
  display: flex;
  flex-direction: column;
  height: auto;
  gap: 10px;
  box-shadow: 0 0 20px #297ac0;
  margin: 10px 10px;
  background-color: #fffab2;
}
.alimentacionunica__titulo {
  font-size: 2rem;
  padding: 5px;
  font-weight: 600;
}
.alimentacionunica__parrafo1 {
  font-size: 1rem;
  padding: 5px;
}
.alimentacionunica__parrafo2 {
  font-size: 13px;
  padding: 5px;
}
.alimentacionunica__img {
  width: 250px;
  height: 200px;
  padding-bottom: 5px;
}

@media (min-width: 768px) {
  .alimentacionunica {
    padding: 20px;
    height: auto;
    width: 80vw;
    gap: 5px;
  }
  .alimentacionunica__titulo {
    padding: 0px 0px 15px 5px;
    font-size: 32px;
  }
  .alimentacionunica__parrafo1 {
    font-size: 25px;
    padding: 15px 0px 15px 15px;
  }
  .alimentacionunica__parrafo2 {
    padding: 5px 5px 0px 15px;
    font-size: 15px;
    width: auto;
  }
  .alimentacionunica__img {
    width: 400px;
    height: 300px;
    box-shadow: 7px 7px 7px rgba(0, 0, 0, 0.2);
    margin: 20px 20px;
  }
}
.newsletter {
  border: #d3d9ea 1px solid;
  height: auto;
  width: 70vw;
  background-color: rgba(105, 187, 242, 0.6549019608);
}
.newsletter__parrafo {
  font-size: 18px;
  font-style: italic;
  margin: 5px 5px;
}
.newsletter__input {
  width: 230px;
}

@media (min-width: 768px) {
  .newsletter {
    display: flex;
    padding: 10px 10px;
    height: auto;
    width: 95vw;
    justify-content: space-evenly;
    align-items: center;
  }
  .newsletter__parrafo {
    font-size: 22px;
  }
  .newsletter__input {
    width: 400px;
  }
}
.pagina-accesorios {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}

.accesorios {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px 20px;
  align-items: center;
}
.accesorios__img {
  width: 300px;
  height: 300px;
  border-radius: 50px;
}

@media (min-width: 768px) {
  .accesorios {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(6, 1fr);
    justify-items: center;
    gap: 20px;
    padding: 20px 20px;
  }
  .accesorios__tarjeta:hover {
    transform: translateY(-15px);
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
    filter: opacity(0.9);
  }
}
@media (min-width: 1200px) {
  .accesorios {
    grid-template-columns: repeat(3, 1fr);
  }
}
.unica {
  width: auto;
  background: linear-gradient(to top, #f3f3f3, rgb(84, 138, 196), rgb(60, 130, 228));
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}
.unica__titulo {
  font-style: italic;
  font-size: 2rem;
  text-align: center;
}

.razaxs {
  display: flex;
  flex-direction: column;
  background-color: #e0e2db;
  border-bottom: #5e6472 2px solid;
}
.razaxs__card {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.razaxs__nombre {
  padding: 20px;
}

.razassm {
  display: flex;
  flex-direction: column;
  background-color: #d2d4c8;
  border-bottom: #5e6472 2px solid;
}

.razamd {
  background-color: #b8bdb5;
  border-bottom: #5e6472 2px solid;
}

.razagrande {
  background-color: #889696;
  border-bottom: #5e6472 2px solid;
}

.razagigante {
  background-color: #5f7470;
}

.mestizo {
  text-align: center;
  border: solid 2px #9e9c9c;
  padding: 25px 15px;
  margin-top: 8px;
  background-color: #297ac0;
  color: #f3f3f3;
}
.mestizo__txt {
  font-style: italic;
}

.alimentoadecuado {
  border: solid 2px #9e9c9c;
  margin-top: 8px;
  padding: 5px 5px;
  background-color: bisque;
}

@media (min-width: 600px) and (max-width: 998px) {
  .razaxs__card {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 1fr);
    justify-items: center;
  }
}
@media (min-width: 998px) {
  .unica {
    gap: 15px;
  }
  .unica__titulo {
    font-size: 2.8rem;
  }
  .unica__foto {
    width: 60vw;
    height: auto;
  }
  .razasxs__card {
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: space-between;
    padding: 20px 20px;
  }
  .mestizo {
    text-align: start;
  }
  .mestizo__card {
    display: flex;
    gap: 50px;
  }
  .mestizo__info {
    display: flex;
    flex-direction: column;
  }
  .mestizo__foto {
    height: 320px;
    width: 350px;
    object-fit: contain;
  }
  .alimentoadecuado {
    display: flex;
  }
  .alimentoadecuado__card {
    display: flex;
    flex-direction: row;
    width: 100vw;
    justify-content: space-evenly;
    padding: 20px 20px;
  }
  .alimentoadecuado__imagn {
    width: 500px;
    height: 400px;
    object-fit: cover;
    box-shadow: 7px 7px 7px rgba(0, 0, 0, 0.2);
  }
  .alimentoadecuado__texto {
    display: flex;
    flex-direction: column;
    gap: 60px;
    font-style: italic;
  }
}
.especifica {
  flex-direction: column;
  display: flex;
  text-align: center;
  font-family: "Ranga";
  width: 100vw;
}
.especifica__titulo {
  font-size: 2rem;
}
.especifica__salud {
  flex-direction: column;
  align-items: center;
}
.especifica__imagen {
  width: 70vw;
  height: 300px;
  object-fit: cover;
}
.especifica__parra {
  font-size: 16px;
}

.semper {
  width: auto;
  background: linear-gradient(to bottom, #d3d9ea, #297ac0);
}
.semper__alimento {
  padding: 50px 0px;
}
.semper__durantedia {
  width: auto;
  border: #000000 solid 5px;
  padding: 8px 8px;
}

.nutricion {
  padding: 20px 5px;
}

@media (min-width: 998px) {
  .especifica__titulo {
    flex-direction: row;
    font-size: 3.5rem;
  }
  .especifica__salud {
    padding: 20px 20px;
    flex-direction: row;
    gap: 140px;
  }
  .especifica__imagen {
    width: 550px;
    height: 450px;
    box-shadow: 7px 7px 7px rgba(0, 0, 0, 0.2);
  }
  .especifica__parra {
    font-size: 1.5rem;
    width: 60vw;
  }
  .nutricion {
    padding: 20px 0px;
  }
  .nutricion__izquierda {
    padding: 0px 10px;
    border-right: 2px solid gray;
  }
  .semper__alimento {
    display: flex;
    align-items: center;
  }
  .semper__camino {
    height: 480px;
    width: 480px;
    object-fit: cover;
    box-shadow: 7px 7px 7px rgba(0, 0, 0, 0.2);
    border-radius: 50%;
  }
  .semper__manzana {
    height: 480px;
    width: 480px;
    object-fit: cover;
    box-shadow: 7px 7px 7px rgba(0, 0, 0, 0.2);
    border-radius: 50%;
  }
  .semper__verdades {
    text-align: center;
  }
  .semper__titulo {
    font-size: 2rem;
    padding: 30px 20px;
    font-style: italic;
  }
  .semper__cuantasveces {
    display: flex;
    justify-content: center;
    padding: 30px;
  }
  .semper__durantedia {
    width: 400px;
    border: #000000 solid 5px;
    border-radius: 10px 40px 40px 10px;
    padding: 6px 6px;
  }
}
.alimentos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.productos {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px 20px;
  align-items: center;
}

@media (min-width: 768px) {
  .productos {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(6, 1fr);
    justify-items: center;
    gap: 20px;
    padding: 20px 20px;
  }
  .productos__tarjeta:hover {
    transform: translateY(-15px);
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
    filter: opacity(0.9);
  }
}
@media (min-width: 1200px) {
  .productos {
    grid-template-columns: repeat(3, 1fr);
  }
}
.seguimiento {
  background-color: bisque;
  background: linear-gradient(to bottom, #f3f3f3, bisque, orange);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-style: italic;
  gap: 15px;
}
.seguimiento__icon {
  width: 100px;
  height: 100px;
}
.seguimiento__icon:hover {
  transform: translateY(-15px);
  transition: 1s;
}

@media (min-width: 998px) {
  .seguimiento {
    padding: 50px;
    flex-direction: row;
    justify-content: space-around;
  }
  .seguimiento__pedido {
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
  }
  .seguimiento__chat {
    display: flex;
    gap: 50px;
  }
  .seguimiento__necesita {
    border-right: 2px solid #297ac0;
    padding-right: 50px;
  }
}

/*# sourceMappingURL=style.css.map */
