.alimentos{
    display:$display;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.productos{
    display: $display;
    flex-direction: column;
    gap: 20px;
    padding: 20px 20px;
    align-items: center;
}

@media (min-width:768px) {
    .productos{
        display: grid;
        grid-template-columns: repeat(2 ,1fr);
        grid-template-rows:repeat(6 ,1fr) ;
        justify-items: center;
        gap: 20px;
        padding: 20px 20px;
        &__tarjeta:hover {
            box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
            filter: opacity(0.9);
        }
    }
}
@media (min-width:1200px) {
    .productos {
        grid-template-columns: repeat(3 ,1fr);
    }
}
