.registro{
    display:$display;
    flex-direction: column;
    text-align: center;
    background-color: $color-secundario;
    &__titulo{
        text-align: center;
    }
    &__nombre{
        display: $display;
        flex-direction: column;
        
    }
}
.seguimiento{
    background-color:bisque;
    background: linear-gradient(to bottom, #f3f3f3, bisque, orange);
    display: $display;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-style: italic;
    gap: 15px;
    &__icon{
        width: 100px;
        height: 100px;
    }
}

@media(min-width:998px) {
    .registro{
        text-align: center;
        &__formulario{
            flex-direction: row;
            justify-content: space-evenly;
        }
        &__inicio{
            text-align: start;
        }
        &__datos{
            display: $display;
            flex-direction: column;
            text-align: start;
            width: 350px;

        }
        &__nombre{
            display: $display;
            flex-direction: column;
            width: 350px;
        }
        &__sexo{
            display: $display;
            flex-direction: column;
        }
        
    }
    .seguimiento{
        padding: 50px;
        flex-direction: row;
        justify-content: space-around;

        &__pedido{
            display: $display;
            flex-direction: column;
            gap: 30px;
            align-items: center;
        }
        &__chat{
            display:$display;
            gap: 50px;
        }
        &__necesita{
            border-right: 2px solid $color-primario;
            padding-right: 50px;
        }
    }
}