
.seguimiento{
    background-color:bisque;
    background: linear-gradient(to bottom, #f3f3f3, bisque, orange);
    display: $display;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-style: italic;
    gap: 15px;
    &__icon{
        width: 100px;
        height: 100px;
    }
}

@media(min-width:998px) {
    .seguimiento{
        padding: 50px;
        flex-direction: row;
        justify-content: space-around;

        &__pedido{
            display: $display;
            flex-direction: column;
            gap: 30px;
            align-items: center;
        }
        &__chat{
            display:$display;
            gap: 50px;
        }
        &__necesita{
            border-right: 2px solid $color-primario;
            padding-right: 50px;
        }
    }

}

