
    .btn{
        background-color:$color-secundario;
        border-radius: 10%;
        width: 120px;
        text-align: center;
        font-size: 1.2rem;
        border:#d3d9ea 2px solid ;
        width: 120px;
}


.accesorios__boton {
    background-color:#297ac0;
    text-align:right;
    font-size:20px;
    box-shadow:7px 7px 7px rgba(0, 0, 0, 0.2);
    color:#d1cbed ;
}
.productos__boton{
    background-color:bisque;
    text-align:right;
    font-size:20px;
    box-shadow:7px 7px 7px rgba(0, 0, 0, 0.2);
    color:black ;
}