header{
    background-color: $color-primario;
    width: 100vw;
}

.navegacion {
    background-color: $color-secundario;
    border-radius: 30%;
    border: #d3d9ea 2px solid;

    &__inicio {
        display: flex;
        justify-content: end;
        color:#f3f3f3;
        gap: 8px;
    }
}
.nav-item a{
    font-size: 1.2rem;
    background: linear-gradient(to right,orange 50%, #ffffff  50%);
    background-size: 200% 100%;
    background-position: 100% 0;
    -webkit-text-fill-color:transparent;
    -webkit-background-clip:text;
}
.nav-item a:hover{
    background-position: 0 0;
    transition: 1s;
}

.navegacion__inicio ul{
    gap: 10px;
}



@media (min-width:768px){
    .navegacion__inicio {
        display: flex;
        gap: 8px;
    }
}
@media (min-width:998px) {
    .navegacion__inicio ul{
        gap: 30px;
        
    }
}